@using TANE.Application.Common.Exceptions
@using TANE.Application.Groups.JwtTokens.Commands.Interfaces
@using TANE.Domain.Entities
@inject CustomStateProvider AuthStateProvider
@inject ICreateUser CreateUser

@page "/"

<PageTitle>Home</PageTitle>

<TokenHandler />

<h1>Hello, world!</h1>

Welcome to your new app.

@* Eksempel på kun at vise ting hvis man er logget ind *@
<AuthorizeView>
    <Authorized>
        <p>Welcome back, @AuthStateProvider.CurrentUser.Email</p>
        <p>@AuthStateProvider.CurrentUser.Expiration.ToLocalTime().ToLongTimeString()</p>
        <p>@DateTime.Now</p>
    </Authorized>
    <NotAuthorized>
        <p>Please log in to access your account.</p>
    </NotAuthorized>
    <Authorizing>
        <p>Checking auth state...</p>
    </Authorizing>
</AuthorizeView>

<button type="button" @onclick="OnClick">Click to register user</button>

<h2>@Status</h2>

@code{
    public string Status { get; set; } = "Click to add test user";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();

    // Nu kan du hente CurrentUser direkte:
        var token = AuthStateProvider.CurrentUser.Token;

        if (AuthStateProvider.CurrentUser != null && AuthStateProvider.CurrentUser.Token != null)
            AuthStateProvider.RefreshTokenAsync();
    }

    private async Task OnClick()
    {
        Status = "Creating user...";

        if (AuthStateProvider.CurrentUser != null && AuthStateProvider.CurrentUser.Token != null)
        {
            await AuthStateProvider.RefreshTokenAsync();

            try
            {
                await CreateUser.CreateUserAsync("TestEmail@mail.dk", "TestPassword1234!", AuthStateProvider.CurrentUser.Token);

                Status = "User created";
            }
            catch (NotAuthorizedException ex)
            {
                Status = ex.Message;
            }
            catch (ConflictException ex)
            {
                Status = ex.Message;
            }
            catch (Exception ex)
            {
                Status = ex.Message;
            }
        }
        else
        {
            Status = "You are not logged in";
        }
    }
}

