@using TANE.Application.Common.Exceptions
@using TANE.Application.Groups.JwtTokens.Commands.Interfaces
@using TANE.Domain.Entities
@using TANE.Presentation.BlazorWebAssemply.Authentication

@inject CustomStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

@page "/login"

<h3>Login</h3>

<RadzenCard class="rz-my-12 rz-mx-auto rz-p-4 rz-p-md-12" style="max-width: 600px;">

    <RadzenTemplateForm Data=@("SimpleLogin")>
        <RadzenLogin AllowRegister="false" AllowResetPassword="false" Login="@(args => OnLogin(args))"/>
        <RadzenText>@ErrorMessage</RadzenText>
    </RadzenTemplateForm>

</RadzenCard>

@code {
    public string ErrorMessage { get; set; } = string.Empty;

    private async Task OnLogin(LoginArgs args)
    {
        try
        {
            await AuthStateProvider.LoginAsync(args.Username, args.Password);

            NavigationManager.NavigateTo("/");
        }
        catch(Exception ex)
        {
            ErrorMessage = ex.Message;
        }

    }
}
