@using TANE.Presentation.BlazorWebAssemply.Authentication
@inject CustomStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService

@page "/logout"

<p>@LogOutText</p>

@code {
    public string LogOutText { get; set; } = "Logger ud...";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await AuthStateProvider.LogoutAsync();

            LogOutText = "Du er nu logget ud";

            NotificationService.Notify(new NotificationMessage()
                {
                    Severity = NotificationSeverity.Info,
                    Summary = "Logget ud",
                    Detail = "Du er nu logget ud"
                });

            NavigationManager.NavigateTo("/login");
        }
        catch (Exception)
        {

        }
    }
}
