@using System.Collections.ObjectModel
@using TANE.Application.Dtos.Skabeloner
@using TANE.Application.RepositoryInterfaces
@using TANE.Domain.Entities
@using TANE.Persistence.Repositories
@using TANE.Presentation.BlazorWebAssemply.Configuration
@using TANE.Presentation.BlazorWebAssemply.Pages.Skabeloner.DagSkabeloner.Components
@using TANE.Presentation.BlazorWebAssemply.Pages.Skabeloner.TurSkabeloner.Components
@inject ITurSkabelonRepository TurSkabelonRepository
@inject CustomStateProvider AuthStateProvider
@inject IDagSkabelonRepository DagSkabelonRepository

<div class="rz-p-0 rz-p-md-12">
    
    @if (showAddDagSkabelon)
    {
        <DagSkabelonListComponent InjectedSkabeloner="DagSkabeloner"  OnSelectSkabelon="OnDagSkabelonRowSelect"/>
    }

    @if (!showAddDagSkabelon)
    {
        <h4>Opret Ny Tur Skabelon</h4>
        <RadzenTemplateForm TItem="TurSkabelonCreateDto" Data=@TurSkabelon Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
            <RadzenStack Gap="1rem" class="rz-p-sm-12">

                <RadzenFormField Text="Titel" Variant="@ThemeConfig.FormVariant">
                    <ChildContent>
                        <RadzenTextBox Name="Titel" @bind-Value=@TurSkabelon.Titel />
                    </ChildContent>
                    <Helper>
                        <RadzenRequiredValidator Component="Titel" Text="Titel skal udfyldes." />
                    </Helper>
                </RadzenFormField>


                <RadzenFormField Text="Beskrivelse" Variant="@ThemeConfig.FormVariant">
                    <ChildContent>
                        <RadzenTextArea Name="Beskrivelse" @bind-Value="@TurSkabelon.Beskrivelse" Rows="4" />
                    </ChildContent>
                    <Helper>
                        <RadzenRequiredValidator Component="Beskrivelse" Text="Beskrivelse skal udfyldes." />
                    </Helper>
                </RadzenFormField>

                <br />

                <h4>Dage:</h4>
                <DagSkabelonReorderListComponent InjectedSkabeloner="ObservableDagSkabeloner" OnDeleteSkabelon="OnDagSkabelonDelete" />
                <div style="text-align: right; width: 100%;">
                    <RadzenButton ButtonType="ButtonType.Button" Size="ButtonSize.Medium" Style="width: 150px" Text="Tilføj Dag" Click="@(() => showAddDagSkabelon = !showAddDagSkabelon)"></RadzenButton>
                </div>

                <br />

                <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Text="Opret tur skabelon"></RadzenButton>
            </RadzenStack>
        </RadzenTemplateForm>
    }

</div>

@code{
    string _token;
    [Parameter, EditorRequired]
    public List<DagSkabelonReadDto> InjectedDagSkabeloner { get; set; } = new List<DagSkabelonReadDto>();

    bool showAddDagSkabelon = false;

    private ObservableCollection<DagSkabelonReadDto> SelectedDagSkabelonerVar = new ObservableCollection<DagSkabelonReadDto>();

    public ObservableCollection<DagSkabelonReadDto> ObservableDagSkabeloner
    {
        get
        {
            return SelectedDagSkabelonerVar;
        }
        set 
        { 
            SelectedDagSkabelonerVar = value;
        }
    }

    public TurSkabelonCreateDto TurSkabelon { get; set; } = new TurSkabelonCreateDto();

    private List<DagSkabelonReadDto> DagSkabelonerVar = new List<DagSkabelonReadDto>();

    public List<DagSkabelonReadDto> DagSkabeloner { get; set; }

    protected override async void OnInitialized()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        _token = AuthStateProvider.CurrentUser.Token;
        var alledage = await DagSkabelonRepository.ReadAllDagSkabeloneAsync(_token);
        DagSkabeloner = alledage.ToList();
    }

    void OnSubmit()
    {
        TurSkabelonRepository.CreateTurSkabelon(TurSkabelon, _token);
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {

    }

    private void OnDagSkabelonRowSelect(DagSkabelonReadDto dagSkabelon)
    {
        ObservableDagSkabeloner.Add(dagSkabelon);

        showAddDagSkabelon = !showAddDagSkabelon;
    }

    private void OnDagSkabelonDelete(DagSkabelonReadDto dagSkabelon)
    {
        ObservableDagSkabeloner.Remove(dagSkabelon);
    }
}
