@using TANE.Application.Groups.RejseplanSkabeloner.Queries.Interfaces
@using TANE.Domain.Entities
@using TANE.Presentation.BlazorWebAssemply.Pages.Skabeloner.RejsePlanSkabeloner.Components

@inject CustomStateProvider AuthStateProvider
@inject NotificationService NotificationService
@inject NavigationManager NavigationManager
@inject IReadRejsePlanSkabelon ReadRejsePlanSkabelon

@page "/skabeloner/rejseplan-skabeloner/overview"

<h3>OverviewRejseplanSkabelonPage</h3>

<RejseplanSkabelonListComponent InjectedSkabeloner="Skabeloner"/>

@code {
    private List<RejseplanSkabelon> Skabeloner = new List<RejseplanSkabelon>();

    protected async override Task OnInitializedAsync()
    {
        await AuthStateProvider.RefreshTokenAsync(NavigationManager, NotificationService);

        try
        {
            Skabeloner = await ReadRejsePlanSkabelon.ReadRejseplanSkabelonerAsync(AuthStateProvider.CurrentUser.Token);
        }
        catch
        {
            
        }
    }
}
