@using TANE.Domain.Entities
@using TANE.Presentation.BlazorWebAssemply.Pages.Skabeloner.DagSkabeloner.Components

@page "/skabeloner/dag/edit/{Id:int}"
@page "/skabeloner/dag/create"

<AuthorizeView>
    <Authorized>
        @if (Id == 0)
        {
            <PageTitle>Opret Ny Dag Skabelon</PageTitle>
            <h3>Opret ny dag skabelon</h3>
        }
        else
        {
            <PageTitle>Rediger Dag Skabelon</PageTitle>
            <h3>Rediger dag skabelon</h3>
        }

        <CreateEditDagSkabelonComponent Id="Id" />
    </Authorized>
    <NotAuthorized>
        <PageTitle>Adgang nægtet</PageTitle>
        <h3>Adgang nægtet</h3>
        <p>Du har ikke adgang til denne side.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public int Id { get; set; }
}