@inherits LayoutComponentBase
@inject CustomStateProvider AuthStateProvider

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <HeadContent>
        <RadzenTheme Theme="material" />
    </HeadContent>


    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a href="/account-administration">(@AuthStateProvider.CurrentUser.Email)</a>
                    <a href="/logout">Log ud</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/login">Log ind</a>
                </NotAuthorized>
                <Authorizing>
                    <span>Checking auth state...</span>
                </Authorizing>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<RadzenComponents />