@using TANE.Presentation.BlazorWebAssemply.Pages.Skabeloner.TurSkabeloner.Components

@page "/skabeloner/tur/edit/{Id:int}"
@page "/skabeloner/tur/create"

<AuthorizeView>
    <Authorized>
        @if (Id == 0)
        {
            <PageTitle>Opret Ny Tur Skabelon</PageTitle>
            <h3>Opret ny tur skabelon</h3>
        }
        else
        {
            <PageTitle>Rediger Tur Skabelon</PageTitle>
            <h3>Rediger tur skabelon</h3>
        }

        <CreateEditTurSkabelonComponent Id="Id" />
    </Authorized>
    <NotAuthorized>
        <PageTitle>Adgang nægtet</PageTitle>
        <h3>Adgang nægtet</h3>
        <p>Du har ikke adgang til denne side.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public int Id { get; set; }
}
