<h3>RejseplanKalender</h3>
@page "/rejseplan"
@using System.Collections.ObjectModel
@using TANE.Application.Dtos
@using TANE.Domain.Entities

<RejseplanKalenderCOmponent Ture="@Ture" TureAndret="@OnTripsReordered" />

@code {
    private ObservableCollection<Tur> Ture = new ObservableCollection<Tur>
    {
        new Tur {
            Titel = "København → Aarhus",
            Dage = new List<Dag> {
                new Dag { Titel = "Jan", Beskrivelse = "Museumsbesøg" },
                new Dag { Titel = "Jan2", Beskrivelse = "Vandre-tur" },
            }
        },
        new Tur {
 
            Titel = "København → Aarhus",
            Dage = new List<Dag> {
                new Dag { Titel = "Jan3", Beskrivelse = "Museumsbesøg" },
                new Dag { Titel = "Jan4", Beskrivelse = "Vandre-tur" },
            }
        }
    // … flere ture …
    };

    void OnTripsReordered(ObservableCollection<Tur> updated)
    {
    // Her kan du gemme den nye rækkefølge i database eller lokalt storage
        Console.WriteLine("Ny trip-rækkefølge:");
        foreach (var t in updated)
            Console.WriteLine(t.Titel);
    }
}
